{% extends 'website/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>
        <br>
        <div class="container-login-form form-layout text-light">
            <h3 class="login-form-header">Login to your Account</h3>

            <hr>
            <br>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{login_form|crispy}}
                <br>
                <div class="text-center">
                    <button type="submit" class=" btn login-btn">Login</button>
                </div>
            </form>

            
            <div class="text-center">
                <p>Don't have an Account?</p> <a class="reg-link" href="{% url 'register' %}">Register</a>
            </div>
            <br>
        </div>
    </body>

{% endblock %}