{% load static %}

<nav class="navbar">
  <div class="container-fluid">

    <!-- Logo and Brand -->
    <a class="navbar-brand d-flex align-items-center" href="{% url '' %}">
      <img src="{% static 'zooLogo.png' %}" alt="Zoo Logo" style="height: 80px;">
      <span class="ms-3" style="font-size: 2rem; font-weight: bold;">RIGET ZOO ADVENTURES</span>
    </a>


        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my-login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my-login' %}">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}

      </ul>
    </div>

  </div>
</nav>