h1{
    color: #824026; 
}

.form-layout{

    border-radius: 5px;
    width: 500px;
}

.container-login-form{
    background-color: #5A7197;
    width:500px;
}

.container-account-creation .btn-primary{
    background-color:#96AED6;
}

.container-account-creation{
    background-color: #5A7197;
}

.navbar {
    background-color: #202A3A;
    height: 6rem;
    weight: auto;
   
}

.ms-3{
    color: white;
    text-decoration: none;
}