{% extends 'website/base.html' %}

{% block content %}

    <br>
    <h3>Welcome to your Bookings {{user}} </h3>
    <hr>

    <a class = "btn createBookingRecord" href="{% url 'zoo-booking' %}">
        Make a new Booking
    </a>

    <hr>

    <h2> Zoo Bookings </h2>
    <table class = "table zoo-bookings">

        <thead class = "table-primary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Arrive Date</th>
                <th scope="col">Leave Date</th>
                <th scope="col">Number of Adults</th>
                <th scope="col">Number of Children</th>
                <th scope="col">Number of Infants</th>
                
            </tr>
        </thead>

        <tbody>
            {% if records %}
                {% for record in records %}
                <tr>
                    <td> {{record.zooID}} </td>
                    <td> {{record.first_name}} </td>
                    <td> {{record.email}} </td>
                    <td> {{record.address}} </td>
                    <td> {{record.arriveDate}} </td>
                    <td> {{record.leaveDate}} </td>
                    <td> {{record.numAdults}} </td>
                    <td> {{record.numChildren}} </td>
                    <td> {{record.numInfants}} </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>

    </table>

{% endblock %}