{% extends 'website/base.html' %}

{% block content %}

    <br>
    <h3>Welcome to your Bookings {{user}} </h3>
    <hr>

    <a class = "btn createBookingRecord" href="{% url 'zoo-booking' %}">
        Make a new Booking
    </a>

    <hr>

    <h2> Zoo Bookings </h2>
    <table class = "table zoo-bookings">

        <thead class = "table-primary">
            <tr>
                <th scope="col">Booking ID</th>
                <th scope="col">Username</th>
                <th scope="col">Ticket Type</th>
                <th scope="col">Visit Date</th>
                <th scope="col">Adult Tickets</th>
                <th scope="col">Children Tickets</th>
                <th scope="col">Total Price</th>
                <th scope="col">Status</th>
                <th scope="col">Booking Dates</th>
                
            </tr>
        </thead>

        <tbody>
            {% if records %}
                {% for record in records %}
                <tr>
                    <td> {{record.booking_id}} </td>
                    <td> {{record.user}} </td>
                    <td> {{record.ticket_type}} </td>
                    <td> {{record.visit_date}} </td>
                    <td> {{record.adult_tickets}} </td>
                    <td> {{record.children_tickets}} </td>
                    <td> {{record.total_price}} </td>
                    <td> {{record.status}} </td>
                    <td> {{record.booking_date}} </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>

    </table>

{% endblock %}